.desktop-icon {
  height: 6em;
  width: 6em;
  left: 92%;
  top: 45em;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

img {
    height: 2.75em;
    width: 2.75em;
  }
  p {
    font-size: 1em;
    color: white;
  }
}
