#start-menu {
  height: 30em;
  width: 21em;
  position: absolute;
  bottom: 0em;
  padding-bottom: 0.5em;
  background-color: #1e50bd;
}

.invisible {
  display: none;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25em;
}

#user-icon {
  height: 4em;
  width: 4em;
  border: solid .15em white;
  border-radius: 5px;
}

#user-details {
  display: flex;
  justify-content: center;
  height: 4.5em;
  width: 4.5em;
  &--username {
    margin-left: 1em;
    color: white;
    font-size: 1em;
    font-weight: bold;
  }
}

#app-list{
  display: flex;
  justify-content: columns;
  width: 20em;
}

.panel {
  height: 20em;
  background: white;
}

.prgm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4em;
  width: 10.5em;
  background-color: azure;
}


/* SHUTDOWN SECTION */

.shutdown-icon{
  height: 3em;
  width: 3em;
}

#shutdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  margin-right: 3em;
  color: white;
}
