#msn {
  height: 30em;
  width: 20em;
  padding: 0;
  margin-top: 9em;
  #msn-avatar {
    height: 6em;
    width: 6em;
    border: 2px silver solid;
    border-radius: 5px;
    margin: 1em;
  }
  img {
    height: 1.5em;
    width: 1.5em;
  }
}


.pgrm-icon {
  height: 1.5em;
  width: 1.5em;
}

.pgrm--nav {
  background-color: #1e50bd;
  color: white;
  height:2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pgrm-name-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#msn-avatar {
  height: 7em;
  width: 11em;
}

#msn-login {
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin: 1px;
  }
}
