#msn {
  height: 30em;
  width: 20em;
  padding: 0;
  margin-top: 6em;
  background-color: #e9ecfb;

  #msn-avatar {
    height: 6em;
    width: 6em;
    border: 5px silver solid;
    border-radius: 5px;
    margin: 3em 0 1em 0;
  }
  img {
    height: 1.5em;
    width: 1.5em;
  }
}

.pgrm-icon {
  height: 1.5em;
  width: 1.5em;
}

.pgrm--nav {
  background-color: #1e50bd;
  color: white;
  height:2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pgrm-name-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#msn-avatar {
  height: 7em;
  width: 11em;
}

#msn-login {
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    margin: 0.25em;
  }
  #login {
    margin: 2em;
    background-color: #e9ecfb;
    border: #424b68 1px solid;
    padding: 0.5em 1em;
  }
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin: 1px;
  }
}
