.navbar {
  background-color: #235cdb;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  height: 2em;
  width:100%;
  bottom: 0;
}

#start-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #209922;
  color: white;
  font-weight: 650;
  font-style: oblique;
  font-size: 1.25em;
  text-shadow: 1px 1px 2px black;
  border: none;
  border-radius: 0 50px 50px 0;
  width: 6.5em;
  margin-right: 3em;
  &:hover {
    background-color:#24a526;
  }
  p {
    margin-left: 0;
  }
}

#open-pgrm {
  margin-left: 0;
  width: 12em;
  font-size: 1em;
  justify-content: space-between;
  background-color: #1190ea;
  border: 1px solid navy;
  color: white;
  padding-right: 1em;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}
