.navbar {
  background-color: #235cdb;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  height: 2em;
  width: 100%;
  bottom: 0;
}

#start-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #209922;
  color: white;
  font-weight: 650;
  font-style: oblique;
  font-size: 1.15em;
  text-shadow: 1px 1px 2px black;
  border: none;
  border-radius: 0 50px 50px 0;
  width: 6.5em;
  margin-right: 1em;
}
#start-btn:hover {
  background-color: #24a526;
}
#start-btn p {
  margin-left: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#start-menu {
  height: 40em;
  width: 30em;
  position: absolute;
  bottom: 0em;
  padding-bottom: 0.5em;
  background-color: #1e50bd;
  font-size: 0.9em;
}

.invisible {
  display: none;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  height: 5.25em;
}

#user-icon {
  height: 4.5em;
  width: 4.5em;
  border: solid 0.15em white;
  border-radius: 5px;
}

#user-details {
  display: flex;
  justify-content: center;
  height: 4.5em;
  width: 4.5em;
}
#user-details--username {
  margin-left: 1em;
  color: white;
  font-size: 1.25em;
  font-weight: 500;
}

#app-list {
  display: flex;
  justify-content: columns;
  width: 20em;
}

.panel {
  height: 28.5em;
  background: white;
}
.panel--right {
  background: #d2e5fa;
  border-left: #3570f0 1px solid;
}

.prgm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1em;
  padding: 0.5em 0;
  height: 3em;
  width: 15em;
}
.prgm:hover {
  background-color: #1e50bd;
  color: white;
}

#see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-top: grey 1px solid;
  margin-top: 9.5em;
}
#see-all:hover {
  background-color: #1e50bd;
  color: white;
}
#see-all p {
  padding-bottom: 0.5px;
}

/* SHUTDOWN SECTION */
.shutdown-icon {
  height: 2em;
  width: 2em;
}

.shutdown-btn {
  padding: 0;
}

#shutdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
  margin-right: 3em;
  color: white;
}

.menu-icon {
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.5em;
}

.nav-icon {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em;
}

#msn {
  height: 30em;
  width: 20em;
  padding: 0;
  margin-top: 9em;
}
#msn #msn-avatar {
  height: 6em;
  width: 6em;
  border: 2px silver solid;
  border-radius: 5px;
  margin: 1em;
}
#msn img {
  height: 1.5em;
  width: 1.5em;
}

.pgrm-icon {
  height: 1.5em;
  width: 1.5em;
}

.pgrm--nav {
  background-color: #1e50bd;
  color: white;
  height: 2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pgrm-name-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#msn-avatar {
  height: 7em;
  width: 11em;
}

#msn-login {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact p {
  margin: 1px;
}

.modal {
  height: 5em;
  width: 5em;
  background: white;
}

#clock {
  background-color: #1190ea;
  width: 6em;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-left: auto;
  border-left: solid rgb(91, 91, 91) 0.1em;
}
#clock p {
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 0.85em;
  color: white;
  text-align: end;
  margin: auto 1.5em auto auto;
}

body {
  background-image: url(./assets/bliss.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#pgrm {
  height: 100%;
  width: 12em;
}

#open-pgrm {
  margin-left: 0;
  width: 11em;
  font-size: 0.9em;
  justify-content: space-between;
}

/*# sourceMappingURL=styles.css.map */
