@use "./partials/navbar";
@use "./partials/menu";
@use "./partials/msn";
@use "./partials/msn-chat";
@use "./partials/_desktop";
@use "./partials/clock";

body {
  background-image: url(./assets/bliss.jpg);
  background-size: cover;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pgrm {
  height: 100%;
  width: 12em;
}

.invisible {
  display: none;
}
