@use "./partials/navbar";

body {
  background-image: url(./assets/bliss.jpg);
  background-size: cover;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

#desktop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: static;
  height: 100%;
  width: 100%;
}

p {
  background-color: white;
  height: 3em;
  margin-left: 10em;
}
